body {
  display: flex;
  align-items: center;
  margin: 0px;
  flex-direction: column;
  width: 100%;
  height: 100vh;
  background-color: red;
}

button,
select {
  padding: 8px 16px;
  margin: 15px;
  flex: none;
}

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  width: 80%;
  
}

.row {
  display: flex;
  width: 100%;
  flex: 1;
}

.pixel {
  background-color: rgb(255, 255, 255);
  border: 1px solid lightgray;
  flex: 1;
}

.options {
  display: flex;
  justify-content: center;
}

.knobDiv {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.knob {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  background-color: lightgray;;
}
